extends layout

block content
  .main-content(style="margin: 0; padding: 0;")
  each post in postsContent
    .post
      .title-container
        h2= post.title

      .image-container
        img(src=post.imageUrl alt=post.title border="1")
        figcaption= post.md5Title

      .content!= post.htmlContent

      .post-footer
        .light 
          if post.formattedDate
            a.post-date(href=`/posts/${post.formattedDate.split('/').reverse().join('')}`)= post.formattedDate
            span.separator &nbsp;&middot;&nbsp;
          each tag, i in post.tags
            if i != 0
              span.separator &nbsp;&middot;&nbsp; 
            a.where(href=`/tags/${encodeURIComponent(tag)}` title=`Everything tagged ${tag}`)= tag

    hr.full

  // Pagination controls
  //.pagination
  //  if currentPage > 1
  //    a(href=`/posts/?page=${currentPage - 1}`) Previous
  //  span.page-number= currentPage
  //  if currentPage < totalPages
  //    a(href=`/posts/?page=${currentPage + 1}`) Next
