extends layout 

block content
  .main-content(style="margin: 0 auto; padding: 0; border: 1px solid red; height: 500px; display: flex; justify-content: center; align-items: center")
    .accordion
      each val, index in ["Section 1", "Section 2", "Section 3"]
        button.accordion-button(onclick=`toggleAccordion(${index})`) #{val}
        .accordion-content
          p This is the content for #{val.toLowerCase()}
          
          //- Nested Accordion inside each section
          .nested-accordion
            each nestedVal, nestedIndex in ["Nested 1", "Nested 2"]
              button.accordion-button(onclick=`toggleNestedAccordion(${index}, ${nestedIndex})`) #{nestedVal}
              .accordion-content
                p This is the content for #{nestedVal.toLowerCase()} inside #{val.toLowerCase()}