extends layout

block content
    h2 Search Tags

    form.search-form(action="/tags/search" method="GET")
        input(type="text" name="tag" placeholder="Search tags")
        button(type="submit") Search

    if results
        if results.length > 0
            each result in results
                h3 #{result.tag} (#{result.posts.length} posts)
                ul.no-bullets
                    each post in result.posts
                        li
                            span.date [ #{post.date.slice(6, 8)}/#{post.date.slice(4, 6)}/#{post.date.slice(0, 4)} ]&nbsp;
                            a(href=`/posts/${post.date}`) #{post.title}
                a(href=`/tags/${encodeURIComponent(result.tag)}`) See all posts for this tag
        else
            p No matching tags found.