extends layout

block content
  script(src="/js/search.js")
  .main-content(style="margin: 0 auto; padding: 20px; border: 1px solid black; display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: column; max-width: 600px; box-sizing: border-box; margin-top: 0; margin-bottom: 0;")

    .search-container(style="border: 1px solid blue; padding: 15px; margin-bottom: 20px; width: 90%; align-self: center;")
        form.search-form(action="/tags/search" method="GET" style="display: flex; justify-content: space-between; align-items: center; width: 90%; margin: 0 auto; padding: 0; ") 
            input(type="text" name="tag" placeholder="Search tags" style="padding: 5px 8px; font-size: 16px; border: 1px solid #ccc; border-radius: 4px; flex-grow: 1; box-sizing: border-box;") 
            button.submit-btn(type="submit")
                | Search
    
    if results
        if results.length > 0
            each result in results
                .result-container(style="border: 1px solid black; padding: 15px; margin-bottom: 20px; width: 90%; align-self: center;")
                    h3(style="margin-top: 0;") #{result.tag} (#{result.posts.length} posts)
                    ul.no-bullets(style="padding-left: 0; list-style-type: none;")
                        each post in result.posts
                            li
                                span.date [ #{post.date.slice(6, 8)}/#{post.date.slice(4, 6)}/#{post.date.slice(0, 4)} ]&nbsp;
                                a(href=`/posts/${post.date}`) #{post.title}
                    a(href=`/tags/${encodeURIComponent(result.tag)}`) See all posts for this tag
        else
            p No matching tags found.
